#### Iteration - to execute the same set of statements(block of code) multiple times
- while loop >>> To execute until a condition is met
- for loop >>> To execute certain number of times, we can use numbers, lists, tuples, strings for indexing
- <b>do while - Python does not have</b> a built-in do-while loop like some other programming languages. However, its functionality can be emulated using a while loop with a break statement.
- Loop control statements - <b>continue</b> and <b>break</b>
- <b>Note:</b> remember to increment the incrementer/counter manually, or else the loop will continue forever.
- <b>range</b> - To loop through a set of code a specified number of times, we can use the range() function. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number-1.

#### while loop
- Syntax
- while condition:
-       statements
-       counter = counter + 1 or counter += 1
- else: (optional, if given, executes at the end)
-       statements

In [41]:
i = 0
while i <= 10:
    print('Data Science ',i)
    i = i + 1

Data Science  0
Data Science  1
Data Science  2
Data Science  3
Data Science  4
Data Science  5
Data Science  6
Data Science  7
Data Science  8
Data Science  9
Data Science  10

In [28]:
i = 0
while i <= 10:
    print('Data Science ',i)
    i = i + 1
else:
    print("Completed while")

Data Science  0
Data Science  1
Data Science  2
Data Science  3
Data Science  4
Data Science  5
Data Science  6
Data Science  7
Data Science  8
Data Science  9
Data Science  10
Completed while

In [42]:
i = 0
while i <= 10:
    print('Data Science ',i)
    i += 1

Data Science  0
Data Science  1
Data Science  2
Data Science  3
Data Science  4
Data Science  5
Data Science  6
Data Science  7
Data Science  8
Data Science  9
Data Science  10

In [43]:
i = 0
while i <= 10:
    i += 1
    print('Data Science ',i)

Data Science  1
Data Science  2
Data Science  3
Data Science  4
Data Science  5
Data Science  6
Data Science  7
Data Science  8
Data Science  9
Data Science  10
Data Science  11

In [44]:
i = 0
while i <= 10:
    i += 1
    print('Data Science ',i)

Data Science  1
Data Science  2
Data Science  3
Data Science  4
Data Science  5
Data Science  6
Data Science  7
Data Science  8
Data Science  9
Data Science  10
Data Science  11

In [52]:
i = 0
while i <= 20:
    print('Even number ',i)
    i += 2

Even number  0
Even number  2
Even number  4
Even number  6
Even number  8
Even number  10
Even number  12
Even number  14
Even number  16
Even number  18
Even number  20

In [56]:
i = 1
while i <= 20:
    print('Odd number ',i)
    i += 2

Odd number  1
Odd number  3
Odd number  5
Odd number  7
Odd number  9
Odd number  11
Odd number  13
Odd number  15
Odd number  17
Odd number  19

#### Loop control statements
- <b>break</b> - Stops the execution and comes out of the loop
- <b>continue</b> - skip execution below continue statement and go back to start of loop

In [70]:
# while with break statement
i = 0
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

0
1
2
3
4

In [5]:
# while with continue statement
i = 0
while i <= 10:
    i += 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [ ]:
# while with continue statement
# executes infinite times.

i = 0
while i <= 10:
    if i == 5:
        continue
    print(i)
    i += 1

0
1
2
3
4

In [4]:
### while with else
i = 0
while i <= 10:
    print(i)
    i += 1
else:
    print('came to end')

0
1
2
3
4
5
6
7
8
9
10
came to end

### For loop
#### while loop
- Syntax
- for i in values(values can be literal, list,etc.)
-       statements
-       counter = counter + 1 or counter += 1
- else: (optional, if given, executes at the end)
-       statements

In [38]:
# For loop with selected values
i =1
for i in (1,11,15):
    print("i value is ",i)
    i += 1

i value is  1
i value is  11
i value is  15

In [40]:
# For loop with range
i =1
for i in range(1,11):
    print("i value is ",i)
    #i += 1

i value is  1
i value is  2
i value is  3
i value is  4
i value is  5
i value is  6
i value is  7
i value is  8
i value is  9
i value is  10

In [8]:
# For loops
str1 = 'Python'
for i in str1:
    print(i)

P
y
t
h
o
n

In [16]:
# For loops
str1 = 'Python'
j = 1
for i in str1:
    print('Value ',i,' is at ',j,' position')
    j += 1

Value  P  is at  1  position
Value  y  is at  2  position
Value  t  is at  3  position
Value  h  is at  4  position
Value  o  is at  5  position
Value  n  is at  6  position

In [24]:
# For loops
str1 = 'Python'
j = 1

for i in str1:
    if 10 <= j % 100 <= 20:
        suffix = 'th'
    else:
        suffix = {1: 'st', 2: 'nd', 3: 'rd'}.get(j % 10, 'th')
    print('Value ',i,' is at ',j,suffix,' position')
    j += 1

Value  P  is at  1 st  position
Value  y  is at  2 nd  position
Value  t  is at  3 rd  position
Value  h  is at  4 th  position
Value  o  is at  5 th  position
Value  n  is at  6 th  position

In [20]:
l = [2,5,7,9,11]
for i in l:
    print(i)

2
5
7
9
11

In [26]:
t = (2,5,7,9,11)
for i in t:
    print(i)

2
5
7
9
11

#### Range function in for loop

- Range(start,stop,step)
- start is inclusive (Starts from 0)
- stop is exclusive
- .
- If only one value is given, then value-1
- Ex: range(4) >>> 0,1,2,3

In [24]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [15]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [18]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [20]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [30]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
l1 = []
for i in range(1,11):
    l1.insert(i,i)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
l1 = []
for i in range(1,11):
    l1.append(i)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [70]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [42]:
#Nested Loops

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#### Nested loops

In [13]:
# Nested loops
l1 = ['Maths','Eco','Science','English']
l2 = [90,88,76,21]
k = 0
for i in l1:
    print(i)
    for j in l2:
        print(l2[k])
        k+=1

Maths
90
88
76
21
Eco

IndexError: list index out of range

In [9]:
a = ['red','blue','green']
b = ['apple','banana','kiwi']
for i in a: # outer loop
    for j in b: # inner loop
        print(i,j)

red apple
red banana
red kiwi
blue apple
blue banana
blue kiwi
green apple
green banana
green kiwi

In [27]:
# Nested loops
l1 = [98,90,76,3]

for i in l1:
    if i%2 == 0:
        print('Even number ',i)
    else:
        print('Odd number ',i)

Even number  98
Even number  90
Even number  76
Odd number  3

In [3]:
for i in range(4):
    print(i)

0
1
2
3

In [9]:
city = ['bangalore','chennai','mumbai']
print(len(city))

for i in range(len(city)):
    print(i)
    print(city[i])

3
0
bangalore
1
chennai
2
mumbai

In [7]:
city = ('bangalore','chennai','mumbai')
print(len(city))

for i in range(len(city)):
    print(i)
    print(city[i])

3
0
bangalore
1
chennai
2
mumbai

In [47]:
# pass statement in for loop
# pass is a dummy statement, instead of keeping empty for loop, which is not possible, use pass dummy statement
for x in [0, 1, 2]:
  pass