### Functions
- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.
- Block of code to perform a task (repeated task), hence it increases code reusability.
- Tyes of functions:
- 1. Built-in-functions      - these functions are pre-defined by python developers.
- 2. User defined functions  - functions defined by the user.
-          function is defined using the def keyword:
-          Syntax - def function_name(arguments,.....):
-                   set of statements
-          Note: Argument need not have data type defined, it changes its data type as per the argument value we pass while calling.
- 3. Anonymous functions     - nameless functoin, Lambda function
-          Syntax - lambda arg1,arg2,.... : statement
- By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.
- <b>*args</b> - Arbitrary arguments - Use when we do not know the number of arguments we pass while calling the function.
- <b> kwargs </b> - Keyword arguments - Assign the values to the arguments, while passing the arguments.
- <b> **kwargs </b> - Arbitrary Keyword Arguments - When we do not know the number of keyword arguments we pass with the values while calling the function.
- <b> default parameter values </b>
- Pass list, tuple, set, dictionary as arguments.
- <b>Return values</b> from a function using return keyword.
- <b>Recursion </b> A function calling itself.

#### Build-in Function

In [2]:
# Built in functions, example print

print('This is a built in function')

This is a built in function

#### User defined functions

In [5]:
# User defined function, name it as func_name

# Defining a function
def func_name():
    print('This is a function, name is func_name ')
func_name()

This is a function, name is func_name

In [219]:
# Function with pass statement

def dummy_fun():
    pass

dummy_fun()

In [7]:
# Calling the function 
func_name()

This is a function, name is func_name

In [15]:
# User defined function, name it as func_name

def func_name():
    print('This is a function, name is func_name ')
func_name()

This is a function, name is func_name

In [5]:
# Function with no argument and no return value
def func():
    print('This is a Func with no argument and no return value')
func()

This is a Func with no argument and no return value

In [27]:
# Function with one argument and no return value

def op_value(a):
    print('Given value is ',a)
op_value(1)
op_value('kk')
op_value(2+3j)
op_value({'a':1,'b':2})

Given value is  1
Given value is  kk
Given value is  (2+3j)
Given value is  {'a': 1, 'b': 2}

In [20]:
# Function with two arguments and no return value

def op_values(a,b):
    print('Given a value is ',a, ' Given b value is ',b)
op_values(1,'kk')
op_values((2,3),[2,3])
op_values(2+3j,True)
op_values({'a':1,'b':2},{2,3})

Given a value is  1  Given b value is  kk
Given a value is  (2, 3)  Given b value is  [2, 3]
Given a value is  (2+3j)  Given b value is  True
Given a value is  {'a': 1, 'b': 2}  Given b value is  {2, 3}

In [24]:
# Function with two arguments and no return value. Print the data type of the values passed.

def op_values(a,b):
    print('Given a value is ',a, ' its type is ',type(a), ' Given b value is ',b,' its type is ',type(b))
op_values(1,'kk')
op_values((2,3),[2,3])
op_values(2+3j,True)
op_values({'a':1,'b':2},{2,3})

Given a value is  1  its type is  <class 'int'>  Given b value is  kk  its type is  <class 'str'>
Given a value is  (2, 3)  its type is  <class 'tuple'>  Given b value is  [2, 3]  its type is  <class 'list'>
Given a value is  (2+3j)  its type is  <class 'complex'>  Given b value is  True  its type is  <class 'bool'>
Given a value is  {'a': 1, 'b': 2}  its type is  <class 'dict'>  Given b value is  {2, 3}  its type is  <class 'set'>

In [46]:
# Func with no input argument but return a value

def func_a():
    a = 3
    return a*2

# Since the function returns a value, store the value in b and print it.
b = func_a()
print(b)

# We need not even store the return value, just callling is enough
func_a()

6

6

In [48]:
# Function with no input argument, but return value. Accept number from the user and prints input value * 2

def user_inp():
    a = int(input('Enter a number '))
    return a*2
user_inp()

Enter a number  7

14

In [50]:
# Function with input argument and return value. 
# Number as input argument, calculate its square and reutn the output.

def fun_sqrt(a):
    return a**2
fun_sqrt(9)

81

In [78]:
# Write a function to calculate the area of the circle. Take radius as input
# Return the area of the circle.
# Accept the radius of the circle from the user in the main module.

def fun_area_circle(r):
    return 3.14*r*r

rad = int(input("Enter the radius of the circle "))
area = fun_area_circle(rad)
print("Radius of the circle with input Radius of ", rad, ' is ', area)

Enter the radius of the circle  2

Radius of the circle with input Radius of  2  is  12.56

In [60]:
# Write a function to calculate the peremeter of the square. Take side as input
# Return the peremeter of the square.

def per_sq(s):
    peremeter = 4*s
    return peremeter

In [64]:
# Accept the side of the square from the user in the main module.

side = int(input("Enter the side of the square "))
peremeter = per_sq(side)
print("Perimeter of the square is ",peremeter)

Enter the side of the square  8

Perimeter of the square is  32

In [68]:
# Write a function to print name, user id and address sent from the main module

def print_values(name,uid,address):
    print("Name is " ,name)
    print("User id is ",uid)
    print("Address is ",address)

print_values('kk','akk.yahoo','5-4-655/1')

Name is  kk
User id is  akk.yahoo
Address is  5-4-655/1

In [76]:
# Write a function to accept age from the user 
# If age >= 18, print eligible for voting, else print not eligible.

def vote_qualified(inp_age):
    if inp_age >= 18:
        print("Your age is ",inp_age," and you're eligible for voting")
    else:
        print("Your age is ",inp_age," so you're not eligible for voting")

age = float(input("Enter your age"))
vote_qualified(age)

Enter your age 18.1

Your age is  18.1  and you're eligible for voting

### *args - Arbitrary arguments
- Syntax - *any_name
- If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
- This way the function will receive a tuple of arguments, and can access the items accordingly.
- Arbitrary Arguments are often shortened to <b>*args</b> in Python documentations.

In [72]:
def my_function(*kids):
    print("Argument at index 1 is " + kids[1] + " and \n Argument at index 2 is " + kids[2])

my_function("Emil", "Tobias", "Linus","test")
my_function("Emil", "Tobias", "Linus")
my_function("Emil") # Error as my_function is expecting arguments at index 1 and 2, but we passed only 1 argument.

Argument at index 1 is Tobias and
 Argument at index 2 is Linus
Argument at index 1 is Tobias and
 Argument at index 2 is Linus

IndexError: tuple index out of range

#### Count the arguments passed

In [84]:
# Get the count of the arguments passed and then refer them 

def my_function(*kids):
    no_of_args = len(kids)
    print("Number of arguments passed is ", no_of_args)
    if no_of_args >= 2:
        print("Argument at index 1 is " + kids[1] + " and \n Argument at index 2 is " + kids[2])
    elif no_of_args == 1:
        print("Argument at index 0 is " + kids[0])
    else:
        print("No arguments passed")

my_function("Emil", "Tobias", "Linus","test")
my_function("Emil", "Tobias", "Linus")
my_function("Emil")
my_function()

Number of arguments passed is  4
Argument at index 1 is Tobias and
 Argument at index 2 is Linus
Number of arguments passed is  3
Argument at index 1 is Tobias and
 Argument at index 2 is Linus
Number of arguments passed is  1
Argument at index 0 is Emil
Number of arguments passed is  0
No arguments passed

#### kwargs - Keyword arguments - Assign the values while passing the arguments
- You can also send arguments with the <b>key = value</b> syntax. This way the order of the arguments does not matter.
- Positional argument - Parameter that is passed without the variable name
- Keyword argument - Parameter that is passed with the variable name
- The phrase Keyword Arguments are often shortened to <b>kwargs</b> in Python documentation

In [98]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [108]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
my_function("Emil", child1 = "Lunus", child2 = "Tobias")

The youngest child is Linus
The youngest child is Emil

In [110]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
my_function("Emil", child1 = "Lunus", child2 = "Tobias")

my_function("Emil", "Lunus",child2 = "Tobias")

The youngest child is Linus
The youngest child is Emil

TypeError: my_function() got multiple values for argument 'child2'

In [112]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
my_function(child1 = "Emil", child2 = "Tobias","Lunus")

SyntaxError: positional argument follows keyword argument (2295428818.py, line 5)

#### **kwargs - Arbitrary Keyword Arguments
- If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
- This way the function will receive a dictionary of arguments, and can access the items accordingly.

In [132]:
def my_function(**kid):
  print("His last name is " + kid["lname"] + ' Middle name is ' + kid["mname"])

my_function(fname = "Tobias", lname = "Refsnes", mname = 'Mdase')

His last name is Refsnes Middle name is Mdase

In [154]:
def my_function(**kid):
  print("His last name is " + kid["lname"] + ' Middle name is ' + kid["mname"])

my_function(name = 'fullname',fname = "Tobias", lname = "Refsnes", mname = 'Mdase')

His last name is Refsnes Middle name is Mdase

#### Positional-Only Arguments
- You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.
- To specify that a function can have only positional arguments, add , / after the arguments:

In [332]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [338]:
# Since we explicitly mentioned , / we are unable able to give keyword argument

def my_function(x, /):
  print(x)

my_function(x=3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

In [341]:
# Since we did not give , / we were able to give keyword argument

def my_function(x):
  print(x)

my_function(x=3)

3

#### Keyword-Only Arguments
- To specify that a function can have only keyword arguments, add *, before the arguments:

In [344]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [346]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [348]:
def my_function(x):
  print(x)

my_function(3)

3

#### Combine Positional-Only and Keyword-Only
- You can combine the two argument types in the same function.
- Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [355]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, d = 7, c = 8)

26

#### Default Parameter Value

In [171]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function()
my_function("Sweden")
my_function("India")
my_function("Brazil")

I am from Norway
I am from Sweden
I am from India
I am from Brazil

#### Passing a List as an Argument

In [201]:
# Passing a List as an Argument

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

#### Passing a Tuple as an Argument

In [179]:
# Passing a Tuple as an Argument

def my_function(food):
  for x in food:
    print(x)

fruits = ("apple", "banana", "cherry")

my_function(fruits)

apple
banana
cherry

#### Passing a Set as an Argument

In [204]:
def process_set(input_set):
    print("Received set:", input_set)
    print("Type of argument:", type(input_set))
    print("Number of elements:", len(input_set))
    print("Elements of the set:")
    for element in input_set:
        print(element)

my_set = {1, 2, 3, 4, 5}
#my_set[1] >>> 'set' object is not subscriptable
#for element in my_set:
#    print(element)
process_set(my_set)

Received set: {1, 2, 3, 4, 5}
Type of argument: <class 'set'>
Number of elements: 5
Elements of the set:
1
2
3
4
5

#### Passing a Dictionary as an Argument

In [215]:
# Passing dictionary as an argument

def print_details(dic_parm):
    for key in dic_parm:
        print('Value is ',dic_parm[key],' for the key ',key)

dic1 = {'Name':'Kranthi','Age':35,'Address':'Hyderabad'}
print_details(dic1)

Value is  Kranthi  for the key  Name
Value is  35  for the key  Age
Value is  Hyderabad  for the key  Address

#### Return Values
- To let a function return a value, use the return statement

In [211]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

#### Recursion
- It means that a function calls itself.
- This has the benefit of meaning that you can loop through data to reach a result.

In [307]:
# Calculate the factorial of a number using recusrion

def factorial(n):
  if n == 0:
    print(n)
    return 1
    # When the value is 0, return 1 to the below factorial function in else part
  else:
    print(n)
    return n * factorial(n-1)
    # else part 5 * factorial(4)
    # else part 5 * 4 * factorial(3)
    # else part 5 * 4 * 3 * factorial(2)
    # else part 5 * 4 * 3 * factorial(2)
    # else part 5 * 4 * 3 * 2 * factorial(1)
    # else part 5 * 4 * 3 * 2 * 1 * factorial(0)
    # else part 5 * 4 * 3 * 2 * 1 * 1

print(factorial(5)) # Output: 120

5
4
3
2
1
0
120

In [311]:
# Calculate the factorial of a number using recusrion

def factorial(n):
  if n == 0:
    print(n)
    return 0
  else:
    print(n)
    return n * factorial(n-1)
    # Since finally it returns 0 when the value is 0, total value becomes 0
    # 5*4*3*2*1*0 = 0

print(factorial(5)) # Output: 120

5
4
3
2
1
0
0

In [315]:
# Calculate the factorial of a number using recusrion

def factorial(n):
  if n == 0:
    print(n)
    return 2
    # Since finally 2 is returned when the n = 0, total value becomes zero in the else part
  else:
    print(n)
    return n * factorial(n-1)
    # 5 * 4 * 3 * 2 * 1 * 1

print(factorial(5)) # Output: 120

5
4
3
2
1
0
240

In [323]:
# Calculate the factorial of a number without using recusrion

def fac_fun(n):
    res = 1
    for i in range(1,n+1):
        res = res * i
    return res

result = fac_fun(5)
print(result)

120

In [12]:
# Recursion example to perform cumulative sum of a given number till 0
# if input is 6 >>> 6 + 5 + 4 + 3 + 2 + 1

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
  else:
    result = 0
  return result
    
print("Recursion Example Results:")
final_result = tri_recursion(6)
print(final_result)

Recursion Example Results:
21

#### Anonymous function - Lambda function
- Lambda is a small, anonymous function defined using the lambda keyword.
- It can take <b>any number of arguments</b> but can <b>only have one </b>expression.
- Lambda functions are often used for short, simple operations.
- It serves as a single expression function
- Improves readability
- Syntax -
-       lambda arguments: expression
- Always store the return value of the lambda function in a variable.
- Example: variable_name = lambda arg1,arg2,.... : single_Expression
-

In [127]:
# Simple lambda function 

a = lambda a: print('test',a)
a(2)

test 2

In [130]:
# Lambda function without storing the return value

lambda a: print('test',a)

In [132]:
# Simple lambda function to add two numbers.

add = lambda a,b : a + b

add(2,3)

5

In [99]:
# Write a simple user defined function and name it as add

def add(x,y):
    sum = x * y
    print(sum)

In [101]:
add(2,3)

6

In [109]:
# Convert the above function to Anonymus function - lambda function

multi = lambda x,y : print(x*y)

In [111]:
multi(9,2)

18

In [136]:
# Lambda function to double the input value

double = lambda a : a*2

double(5)

10

#### If else in Lambda

- lambda <arguments> : <statement1> if <condition> else <statement2>

In [151]:
# Lambda function to identify if a given number is even or odd

even_odd = lambda inp_val : print(inp_val,' is even number ') if inp_val %2 == 0 else print(inp_val," is odd number")

In [153]:
even_odd(3)

3  is odd number

In [157]:
# Lambda function to identify if a given voter age is eligible to vote or not. Age >= 18, eligible, else not

check_eligible_vote = lambda inp_age : "You're eligible to vote" if inp_age >= 18 else "You're not eligible to vote"

check_eligible_vote(20)

"You're eligible to vote"

In [159]:
# Lambda function to return pass if the input marks are >= 35, else return false

pass_fail = lambda inp_marks : print("Pass with marks ",inp_marks) if inp_marks >= 35 else print("Fail with marks ",inp_marks)

In [167]:
# Accept the marks from the user and send to lambda function

marks = int(input("Enter the marks "))
pass_fail(marks)

Enter the marks  31

Fail with marks  31

In [180]:
# Return the grade based on the marks
# marks >= 90, return grade "A", else if marks >= 75 then grade "B" else return grade "C"
# Using if else ifelse

grade = lambda marks : 'Grade A' if marks >= 90  else ('Grade B' if marks >= 75 else "Grade C")

In [182]:
grade(9)

'Grade C'

In [36]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33