#### Map Reduce and Filter
- map >>> To perform the same action on all the items one by one. Sends only one value at a time to the given function, output is always equal to the number of input values. Type is map, convert to list.
- reduce >>> Sends two values at a time to the given function & iterate the same until the last value. Output is only one value of the given input type.
- filter >>> To perform the same kind of filter on all the items. Sends only one value at a time to the given function, no. output values are always <= no. of input values. Type is filter, convert to list.

#### map() Function
- Sends(Maps) each value to the given function and returns each output from the function seperately.
- No of input values passed is equal to the output values.
- Output is a map object(iterator), convert to list to see/use the output.
- Sends only one value at once to the given function.
- Returns a map object(which is an iterator) of the results, after applying the given function to each item of a given iterable (list, tuple, etc.).
- .
- Syntax - map(fun, iter) >>> fun: It is a function to which map passes each element of given iterable. iter:  iterable object to be mapped.
-          map(Function_Name,EachValuesToPass)
-          Function_Name >>> Any function we want to call
-          Each Value To Pass >>> A set of values, like lists, tuples, etc. We can pass even one value

In [185]:
# Use Map() Function to double the values
# Function to return double of n
def double(n):
    return n * 2

# Using map to double all numbers
# Here double function is called for each value we pass
# Pass values directly while using map

result = map(double, [5, 6, 7, 8])

print(type(result))
print(result)
print(list(result))
print(tuple(result))
print(set(result))

<class 'map'>
<map object at 0x000001B6B3C2CA90>
[10, 12, 14, 16]
()
set()

In [116]:
# Use Map() Function to double the values

# Function to return double of n
def double(n):
    return n * 2

# Using map to double all numbers
# Here double function is called for each value we pass
# Pass values using varibale that has list

numbers = [5,6,7,8]
result = map(double,numbers)
print(list(result))

[10, 12, 14, 16]

In [118]:
# Use Map() Function to double the values

# Function to return double of n
def double(n):
    return int(n) * 2

# Using map to double all numbers
# Here double function is called for each value we pass
# Accept a list of number while running and pass them to the double function

result = map(double,input("Enter numbers to be doubled, seperate them by space").split())
print(list(result))

Enter numbers to be doubled, seperate them by space 2 3 4

[4, 6, 8]

In [124]:
# Use Map() function to double the values, use addition instead of multiplication

def double(n):
    d = n + n
    return d

seq = (1,2,3,4)
double_result = map(double,seq)

print(list(double_result))

[2, 4, 6, 8]

In [130]:
# Use Map() function to double the values, use addition instead of multiplication
# Use lambda instead of creating a double function seperately

seq = (1,2,3,12)
double_result = map(lambda n: n+n,seq)

print(list(double_result))

[2, 4, 6, 24]

In [132]:
# One more example with lambda

numbers = [1,6,3]
double_numbers = map(lambda n: n*2,numbers)
print(list(double_numbers))

[2, 12, 6]

#### reduce() Function
- Reduce takes two elements at once and passes the given function, the result is then taken along with the next value in the input and then sends it to the function, and so on, until the last item in the input. Finally, the single output is returned as per the data type we gave to the function.
- Reduce takes two elements at once and sends to the given function.
- Final output is only one value of the given input type.
- Syntax - functools.reduce(Function_Name, ValuesToPass) >>> Returns a single value of the input type
-          Function_Name >>> Any function we want to call
-          Each Value To Pass >>> A set of values, like lists, tuples, etc. We can pass even one value

In [240]:
# Use reduce() function to add multiple values

import functools
def addition(x,y):
    return x + y

numbers = [1,2,6.2,3]
result = functools.reduce(addition,numbers)
# Background >>> 1 & 2 are sent to addition function, the result 3 is then sent along 
# with 6 to the addition function, the result 9 is again sent with 3 to the addition function, the result is 12, since no values are
# left, the output is returned. Type is same as the input we passed.

print(type(result))
print(result)

<class 'float'>
12.2

In [242]:
# Use reduce() function to concatenate multiple names
import functools
def concat_names(x,y):
    return x + ' ' + y

names = ['kk','akk','sachin','ten']
result = functools.reduce(concat_names,names)
# kk and akk are sent to concat_names function, output is kk akk
# kk akk and sachin are sent to concat_names function, output is kk akk sachin
# kk akk sachin and ten are sent to concat_names function, output is kk akk sachin ten
# Since all input elements are passed, final output is kk akk sachin ten

print(type(result))
print(result)

<class 'str'>
kk akk sachin ten

In [108]:
# Use reduce() function to multiply many values

def red_double(x,y):
    return x * y

numbers = [1,2,3,4]
result = functools.reduce(red_double,numbers)
print(result)

24

In [216]:
# Convert the above function to use lambda instead of seperate function.
import functools

# Define a list of numbers
numbers = [1, 2, 3, 4]

# Use reduce to compute the product of list elements
product = functools.reduce(lambda x, y: x * y, numbers)

print("Product of list elements:", product)

Product of list elements: 24

In [355]:
# Find a maximum number from the given list
import functools
def find_max(x,y):
    if x > y:
        print(x)
        return x
    else:
        print(y)
        return y

inp_numbers = [1, 9,2, 3, 4, 5,12, 6, 7, 8, 9, 10]
max_number = functools.reduce(find_max,inp_numbers)
print('Max number among ',inp_numbers,' is ',max_number)

9
9
9
9
9
12
12
12
12
12
12
Max number among  [1, 9, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10]  is  12

In [357]:
# Convert the above function using lambda

inp_numbers = [1, 9,2, 3, 4, 5,12, 6, 7, 8, 9, 10]
max_number = functools.reduce(lambda x,y: x if x>y else y ,inp_numbers)
print('Max number among ',inp_numbers,' is ',max_number)

Max number among  [1, 9, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10]  is  12

#### Filter() Function
- Sends each value from the given input to the function and returns/takes only those values that meet the given condition(condition meets True)
- Only those items are considerd where we return True or 1 or any non zero. False = 0
- No of output values is always <= no of input values.
- Output is a filter object(iterator), convert to list to see/use the output.
- Sends only one value at once to the given function.
- Returns a filter object(which is an iterator) of the results, after applying the given function to each item of a given iterable (list, tuple, etc.).
- .
- Syntax - filter(fun, iter) >>> fun: It is a function to which filter passes each element of given iterable. iter:  iterable object to be mapped.
-            filter(Function_Name,EachValuesToPass)
-            Function_Name >>> Any function we want to call
-            Each Value To Pass >>> A set of values, like lists, tuples, etc. We can pass even one value

In [229]:
# Use filter() function to check a set of values if they are even or not

def is_even(n):
    print(n % 2 == 0)
    return n % 2 == 0

print(is_even(2))

True
True

In [231]:
# Use filter() function to check a set of values if they are even or not

def is_even(n):
    print(n % 2 == 0)
    return n % 2 == 0

inp_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers_list = filter(is_even,inp_numbers)

print(type(even_numbers_list))
print(even_numbers_list)
print(list(even_numbers_list))

<class 'filter'>
<filter object at 0x000001B6B3B97F10>
False
True
False
True
False
True
False
True
False
True
[2, 4, 6, 8, 10]

In [319]:
# Use filter() function to check a set of values if they are even or not
# Instead of filter function, use lambda.

inp_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers_list = filter(lambda n: n%2==0,inp_numbers)

print(type(even_numbers_list))
print(even_numbers_list)
print(list(even_numbers_list))

<class 'filter'>
<filter object at 0x000001B6B303E0E0>
[2, 4, 6, 8, 10]

In [321]:
# Filter out only Vowels from the given input list

def vow_filter_fun(in_alpha):
    vowels_list = ['a','e','i','o','u']
    if in_alpha in vowels_list:
        print(in_alpha,' ',True)
        return True
    else:
        print(in_alpha,' ',False)
        return False

alphabets = ['n','h','a','e','q','i','r','u']
vowels = filter(vow_filter_fun,alphabets)

print(type(vowels))
print(vowels)
print(list(vowels))

<class 'filter'>
<filter object at 0x000001B6B3CB0BE0>
n   False
h   False
a   True
e   True
q   False
i   True
r   False
u   True
['a', 'e', 'i', 'u']

In [341]:
# Filter out only Vowels from the given input list, use lambda isntead of a function

alphabets = ['n','h','a','e','q','i','r','u']
vowels_list = ['a','e','i','o','u']

# Since if and else both are True, all the values are returned to output.
# vowels = filter(lambda in_alpha : True if in_alpha in vowels_list else 0,alphabets)
#vowels = filter(lambda in_alpha : 1 if in_alpha in vowels_list else 1,alphabets)
vowels = filter(lambda in_alpha : 1 if in_alpha in vowels_list else 0,alphabets)

# vowels = filter(lambda in_alpha : True if in_alpha in vowels_list else False,alphabets)

even_numbers_list = filter(lambda n: n%2==0,inp_numbers)

print(type(vowels))
print(vowels)
print(list(vowels))

<class 'filter'>
<filter object at 0x000001B6B3CB1060>
['a', 'e', 'i', 'u']

In [362]:
# Return only those strings that has 'hi' in it

names = ['kranthi','kumar','akuhi','Delhi','Sachin','hello']
hi_names = filter(lambda name: 'hi' in name,names)
print(list(hi_names))

['kranthi', 'akuhi', 'Delhi', 'Sachin']

In [368]:
# Return only those strings that has 'hi' in it

names = ['kranthi','kumar','akuhi','Delhi','Sachin','hello']
hi_names = filter(lambda name: True if 'hi' in name else False,names)
print(list(hi_names))

['kranthi', 'akuhi', 'Delhi', 'Sachin']

In [379]:
# Return only those strings that end with er

names = ['kranthi','kumar','sameer','akuhi','Delhi','Sachin','hello','cheater']
hi_names = filter(lambda name: True if name.endswith('er') else False,names)
print(list(hi_names))

['sameer', 'cheater']

In [381]:
# Return only those strings that end with ar

names = ['kranthi','kumar','sameer','akuhi','Delhi','Sachin','hello','cheater']
hi_names = filter(lambda name: True if name.endswith('er'),names)
print(list(hi_names))

SyntaxError: expected 'else' after 'if' expression (2584797097.py, line 4)