### Pipeline
https://www.youtube.com/watch?v=xOccYkgRV4Q&t=2539s
- Pipeline takes only two arguments, 1. pipeline name and 2. object name of any action like imputer, encoder, scaler, machine learning model, etc. We do not mention the column name or dataset names.
- Pipeline takes two arguments, one is the pipeline name and the other is the object name of any class, like encoder, scaler, algorithm, etc. it could be any step.
- .
- Syntax:-
- from sklearn.pipeline import Pipeline, make_pipeline
- Pipeline_Titanic = Pipeline([
- ('Trans_ColTrans_AgeEmbarked_SI',ColTrans_AgeEmbarked_SI),
- ('Trans_ColTrans_SexEmbarked_OHE',ColTrans_SexEmbarked_OHE),
- ('Trans_ColTrans_Embarked_OHE',ColTrans_Embarked_OHE)
- ('Trans_ColTrans_ScaleAll_MMS',ColTrans_ScaleAll_MMS),
- ('Trans_SelectKBest_Obj',SelectKBest_Obj),
- ('Trans_DecisionTreeClassifierObj',DecisionTreeClassifierObj)
- ])
- .
- Pipeline_Titanic.fit(x_train, y_train)
- .
- y_predict = Pipeline_Titanic.predict(x_test)
- .
- <b>Note:-
- pipeline.fit(X, y):
- <b>When you call fit on the Pipeline object, it sequentially calls the fit and transform methods on each intermediate step (transformers like encoders) in the pipeline, using the output of the previous step as the input for the next.
- The final estimator in the pipeline will only have its fit method called.
- <b>  All intermediate steps should be transformers and implement fit and transform.
- <b>Column transformer can have a pipeline obj and pipeline obj can have column transformer. Ex: below.
- .
- Is a mechanism which chains together multiple steps so that the output of each step is used as input to the next step.
- It makes it easy to apply the same processing to train and test.
- In Column transformer, we apply only column related transformation like encoders, scalers, imputing, where as in pipeline, we can connect any kind of steps like encoders, scalers, machine learning algorithms.
- We can create a pipeline for imputing, scaling, encoding and use that pipeline inside a column transformer.

In [1]:
import pandas as pd

Train_DF = pd.read_csv(r"C:\Users\ACER\Desktop\Kranthi\DataScience_Desktop\MachineLearningFiles\train.csv")
Train_DF.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [3]:
Train_DF_New = Train_DF.drop(columns = ['PassengerId','Name','Ticket','Cabin'],axis=1)
Train_DF_New.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C

In [5]:
# Prepare the train and test data

x = Train_DF_New.drop(columns = ['Survived'])
y = Train_DF_New.Survived

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test  = train_test_split(x,y,test_size=0.2,random_state=2)
x_train.head(2)

    Pclass     Sex   Age  SibSp  Parch     Fare Embarked
30       1    male  40.0      0      0  27.7208        C
10       3  female   4.0      1      1  16.7000        S

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [7]:
# Categorical pipeline
cat_pipe = Pipeline([
    ('SI_Cat',SimpleImputer(strategy='most_frequent')),
    ('OHE_Cat',OneHotEncoder(drop='first',sparse_output=False,handle_unknown='ignore'))
])

# Numerical pipeline
num_pipe = Pipeline([
    ('SI_Num',SimpleImputer(strategy='median')),
    ('MMS_Num',MinMaxScaler())
])

# We are not mentioning the column names

# Column Transformer

ColumnTransformer_Obj = ColumnTransformer([
    ('Cat',cat_pipe,['Sex','Embarked']),
    ('Num',num_pipe,['Age','Fare'])
],remainder='passthrough')

In [8]:
# Pipeline

Pipeline_Obj = Pipeline([
    ('Preprocess',ColumnTransformer_Obj),
    ('Model',DecisionTreeClassifier())
])

In [13]:
Pipeline_Obj.fit(x_train,y_train)
y_predict = Pipeline_Obj.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score_before = accuracy_score(y_predict,y_test)

0.7821229050279329