In [1]:
Some question related s1 = {8,4,2,14,23} >> np.array(s1)
WHY DATA DOESNT GET SORTED IN A SPECIFIC ORDER - NEED TO CHECK WITH NUMPY ARRAY SORT AND THEN CONFIRM

SyntaxError: invalid syntax (319453850.py, line 1)

### Sets
- Sequence of elements, but irrespective of order we create or update sets, <b>it gets sorted in background by default</b>
- Represented within { }
- <b> Sets are Mutable, i.e. elements can be changed (added or removed) </b> after it has been created. <b>However, the elements within a set must be immutable</b> i.e. int, flot, complex, boolean, string, tuples. <b>set</b> inside set not allowed
- <b>Note: </b> Though sets are mutable, it can be updated only using functions, not by indexing.
- <b>Sets cannot contain</b> mutable elements like lists, sets, dictionary. So, set cannot contain another set.
- <b>Un-indexed, we cannot access individual elements</b> of a set using indexes. i.e. we cannot use set[1], etc.
- But we can access individual elements using iteration. Ex for loop
- <b>Can contain heterogenous</b> data
- <b>Does not allow duplicate values</b>, even though we can add duplicate values, set removes duplicates in background.

#### Functions on Set
- Functions on set >>> add, update, remove, discard, clear, del, pop, len, all, any, in, not in, union, intersection, difference
- The below functions <b>cannot </b> be used on set
- count(as set cannot have duplicate values), index(as set values cannot be indexed), sort(set is sorted by default), reverse(set is always sorted), append, extend, insert(we have add functions for sets like add, update)

In [42]:
# Create an empty set
set1={}
print(set1)
print(type(set1))
# This creates dictionary unless we explicitly mention it as an empty set

{}
<class 'dict'>

In [44]:
# Create an empty set - explicitly mention set() function
s2 = set()
type(s2)

set

In [48]:
# Create a heterogenus set, no need to mention set() if we are giving values while creating
# Output is sorted

set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,(2,5,1),8,True}
set1

{(2, 5, 1), 2, 3.5, 4, 5, 8, 9, True, 'tt'}

In [54]:
# A set can contain only immutable elements like int, float, complex, boolean, string, tuple

set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,8,True,9+2j,(2,3)}
set1

{(2, 3), (9+2j), 2, 3.5, 4, 5, 8, 9, True, 'tt'}

In [56]:
# A set cannot contain mutable elements like list, dictionary, sets

# Below throws error as there is list data type
set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,8,True,(2,3),9+2j,[2,1]}
set1

TypeError: unhashable type: 'list'

In [58]:
# A set cannot contain mutable elements like list, dictionary, sets

# Below throws error as there is set data type
set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,8,True,(2,3),9+2j,{2,1}}
set1

TypeError: unhashable type: 'set'

In [43]:
# A set cannot contain mutable elements like list, dictionary, sets

# Below throws error as there is dictionary data type
set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,8,True,(2,3),9+2j,{1:'kranthi'}}
set1

TypeError: unhashable type: 'dict'

In [5]:
# Create a heterogenus set, with duplicate values & tuple
set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,(2,5,1),8}
set1

# even though set is created with duplicates and not in order, the output is without duplicates and in sorted order

{(2, 5, 1), 2, 3.5, 4, 5, 8, 9, 'tt'}

In [18]:
# Accessing individual elements of set using index is not allowed
set1[-1]

TypeError: 'set' object is not subscriptable

In [3]:
# Only way to access individual elements is using for loop
set1 = {8, 4, 3.5, 2, 5, 4, 'tt',9,(2,5,1),8}
for i in set1:
    print(i)

2
3.5
4
5
8
9
tt
(2, 5, 1)

In [65]:
# Cannot update values using indexing as indexing is not allowed.
# We have to use functions to update values in set.

set1[-1]='kk'

TypeError: 'set' object does not support item assignment

### Set functions
- The below functions <b>cannot </b> be used on set
- count(as set cannot have duplicate values), index(as set values cannot be indexed), sort(set is sorted by default), reverse(set is always sorted), append, extend, insert(we have add functions for sets like add, update)
-
- <b>Below functions are used on set.</b>
- 
- add() - We can add only one element at once. Once executed, set is sorted in ascending order.
- Syntax - set_variable_name.add(value)
- .
- update() - We can add more than one element using update function. We have to give multiple values in either [] or {}
- Syntax1 - set_variable_name.update([value1,value2,...]) <b>or</b> set_variable_name.update({value1,value2,...})
- Syntax2 - set_variable_name1.update(set_variable_name2)
- .
- remove() - Only one element can be deleted at once, throws error if element is not present in the set
- Syntax - set_variable_name.remove(value)
- .
- discard() - Only one element can be deleted at once, doesn't throw error if element is not present in the set.
- Syntax - set_variable_name.discard(value)
- 
- clear() - To clear (delete all the elements) of the set at one go. Does not accept any argument/value/index.
- Syntax - set_variable_name.clear()
- .
- del() - To delete the set variable. Once deleted, the set variable cannot be accessed again.
- Syntax - del set_variable_name
- .
- pop() - removes an item from the first position in the set. Doesn't take any arguments.
- Syntax - set_variable_name.pop()
- 
- len() - To count the total number of values in the set.
- Syntax - len(set_variable_name)
- 
- all() - returns True if all the elements of the set are ture (non zero)
- Syntax - all(set_variable_name)
- .
- any() - returns True if any of the elements in the set are true (non zero)
- Syntax - any(set_variable_name)
- .
- Membership >>> IN and NOT IN
- Syntax - value in set_variable_name
- .
- union() - Combines all the elements from two or more sets into a new set & eleminates duplicate values.
- Syntax1 - set_variable_name1.union(set_variable_name2, set_variable_name3, ...)
- Syntax2 - set_variable_name1 | set_variable_name2 | set_variable_name3 | ...
- It can be performed using either the union() method or the | operator. 
- can take any number of arguments
- .
- intersection() - Returns only those elements that exists in both the sets & eleminates duplicate values.
- Syntax1 - set.intersection(set1, set2, ... etc.)
- Syntax2 - set1 & set2 & set3
- It can be performed using either the intersection() method or the & operator.
- Can take any number of arguments- difference
- .
- difference() - Returns elements that only exists in first set and not in second set. Eleminates duplicate values.
- Syntax1 - set1.difference(set1, set2, ... etc.)
- Syntax2 - set1 - set2 - set3
- It can be performed using either the difference() method or the - operator.
- Can take any number of arguments
- In case of multiple arguments, starts from L to R, calculates one by one
- Example: set1 - set2 - set3 >>> first set1 - set2 then its result with - set3

In [291]:
# count, index, sort, reverse, append, extend, insert are not available on sort
# count throws error

s4 = {5,9,2,1,'Data','HTML'}
s4.count()

AttributeError: 'set' object has no attribute 'count'

In [70]:
s4 = {5,9,2,1,'Data','HTML'}
s4

{1, 2, 5, 9, 'Data', 'HTML'}

In [74]:
s1={3,1,9,2}
print(s1)

# Once we use sorted on set, it becomes a list.
print(sorted(s1,reverse = True))

# Original set remains the same.
print(s1)

{1, 2, 3, 9}
[9, 3, 2, 1]
{1, 2, 3, 9}

In [36]:
# add function

s4 = {5,9,2,1,'Data','HTML'}
s4

# data 'css' will be added and also sorted in background.
s4.add('CSS')

In [38]:
s4

{1, 2, 5, 9, 'CSS', 'Data', 'HTML'}

In [40]:
# add value 5

s4.add(5)
s4

{1, 2, 5, 9, 'CSS', 'Data', 'HTML'}

In [77]:
# add another value 5, but doesn't throw error as set removes duplicates and sorts in background.

s4.add(5)
s4

{1, 2, 5, 9, 'Data', 'HTML'}

In [79]:
s4.add(999)
s4

{1, 2, 5, 9, 999, 'Data', 'HTML'}

In [83]:
# set cannot contain mutable objects, hence set cannot contain another set 

s4.add({3,2})
s4

TypeError: unhashable type: 'set'

In [85]:
# We cannot add more than 1 value at once to a set using add function

s4.add(3,1)

TypeError: set.add() takes exactly one argument (2 given)

In [87]:
# update - to add multiple values

s4.update(9999,33,11)
# Throws error as we have to give values inside [] or {}

TypeError: 'int' object is not iterable

In [89]:
# When we want to update multiple values, give them within [] or {}
s4.update([9999,33,11])

In [91]:
s4.update({123,345,11})

In [93]:
s4

{1, 11, 123, 2, 33, 345, 5, 9, 999, 9999, 'Data', 'HTML'}

In [97]:
# update using variable names

s1 = {3,2,-1}
s2 = {99,1}
s1.update(s2)
s1

{-1, 1, 2, 3, 99}

In [119]:
# update using variable names

s9 = {3,2,-1}.update({5,2})
print(s9)

None

In [143]:
s4 = {1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'CSS', 'Data', 'HTML'}
s4

{1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'CSS', 'Data', 'HTML'}

In [145]:
# to remove one element at once, since HTML value is already present, it removes and doesn't throw error.

s4.remove('HTML')
print(s4)

{1, 2, 99, 33, 5, 999, 9, 11, 333, 111, 112, 9999, 'CSS', 'Data'}

In [147]:
# remove 4, since it is not present in the list, it throws error

s4.remove(4)

KeyError: 4

In [149]:
# since 4 is not present and to not throw error, use discard, instead of remove

s4 = {1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'CSS', 'Data', 'HTML'}
s4.discard(4)

In [151]:
s4

{1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'CSS', 'Data', 'HTML'}

In [157]:
s4.discard('CSS')

In [159]:
s4

{1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'Data', 'HTML'}

In [161]:
s4.discard(1,11)

TypeError: set.discard() takes exactly one argument (2 given)

In [163]:
s4

{1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'Data', 'HTML'}

In [169]:
# To remove all the elements from the set.

s4.clear()
s4

set()

In [171]:
# To delete set variable
del s4

In [173]:
s4

NameError: name 's4' is not defined

In [189]:
# To remove an element from the first position - use pop

s1 = {1, 11, 111, 112, 2, 33, 333, 5, 9, 99, 999, 9999, 'CSS', 'Data', 'HTML'}
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)

{1, 2, 99, 33, 5, 'HTML', 999, 9, 11, 333, 111, 112, 9999, 'CSS', 'Data'}
{2, 99, 33, 5, 'HTML', 999, 9, 11, 333, 111, 112, 9999, 'CSS', 'Data'}
{99, 33, 5, 'HTML', 999, 9, 11, 333, 111, 112, 9999, 'CSS', 'Data'}

In [187]:
s1.pop(5)

TypeError: set.pop() takes no arguments (1 given)

In [195]:
# To count the total number of elements in the set
s1 = {1, 'CSS', 'Data', 'HTML'}
len(s1)

4

In [197]:
s1.add(8)
print(s1)
print(len(s1))

{1, 'HTML', 8, 'Data', 'CSS'}
5

In [213]:
# all any functions

s1 = {1, 'CSS', 'Data', 'HTML',False}
print(all(s1))
print(any(s1))

False
True

In [215]:
# in and not in
s1 = {1, 'CSS', 'Data', 'HTML',False}
0 in s1

True

In [217]:
# in and not in
s1 = {1, 'CSS', 'Data', 'HTML',False}
True in s1

True

In [219]:
# in and not in
s1 = {1, 'CSS', 'Data', 'HTML',False}
'CSS' in s1

True

In [223]:
# in and not in
s1 = {1, 'CSS', 'Data', 'HTML',False}
'css' in s1

False

In [225]:
# in and not in
s1 = {1, 'CSS', 'Data', 'HTML',False}
'css' not in s1

True

### set-union

In [275]:
# union

a = {9,4,1,7,5}
b = {4,8,1,5}
c = {25,23,1}
print(a)
print(b)
print(c)

{1, 4, 5, 7, 9}
{8, 1, 4, 5}
{25, 1, 23}

In [265]:
### set-union

# Before union
print('Before union')
print('a ',a)
print('b ',b)
print('c ',c)

# Combines all the values from a and b, removes duplicates.
d = a.union(b)
print('After union')
print('a ',a)
print('b ',b)
print('c ',c)
print('d ',d)

Before union
a  {1, 4, 5, 7, 9}
b  {8, 1, 4, 5}
c  {25, 1, 23}
After union
a  {1, 4, 5, 7, 9}
b  {8, 1, 4, 5}
c  {25, 1, 23}
d  {1, 4, 5, 7, 8, 9}

In [269]:
### set-union

### set-union

# Before union
print('Before union')
print('a ',a)
print('b ',b)
print('c ',c)

# Combines all the values from a, b & c, removes duplicates.
# first does union on b and c then union on a
f = a.union(b,c)
print('After union')
print('a ',a)
print('b ',b)
print('c ',c)
print('f ',f)

Before union
a  {1, 4, 5, 7, 9}
b  {8, 1, 4, 5}
c  {25, 1, 23}
After union
a  {1, 4, 5, 7, 9}
b  {8, 1, 4, 5}
c  {25, 1, 23}
f  {1, 4, 5, 7, 8, 9, 23, 25}

In [286]:
# union using pipe operator

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
a | b | c

{(2+3j), 1, 23, 25, 4, 5, 7, 8, 9, 'kk'}

In [301]:
# intersection

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
a.intersection(b)

{1, 4, 5}

In [305]:
# intersection of more than two sets

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
a.intersection(b,c)

{1}

In [309]:
# intersection using & operator

a & b

{1, 4, 5}

In [313]:
# intersection using & operator

a & b & c

{1}

In [337]:
# difference

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
print(a.difference(b))
print(b.difference(a))

{9, (2+3j), 7}
{8, 'kk'}

In [325]:
# difference using - operator

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
print(a - b)
print(b - a)

{9, (2+3j), 7}
{8, 'kk'}

In [345]:
# difference using more than two sets

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
a.difference(b,c)
# first difference of a and b >>> {9,7,2+3j}- c >>> {9,7,2+3j} - {25,23,1,2+3j} = 9,7

{7, 9}

In [341]:
# difference using more than two sets

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
a - b - c
# first difference of a and b >>> {9,7,2+3j} - {25,23,1,2+3j} = 9,7

{7, 9}

In [329]:
# difference using more than two sets

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
a.difference(c,b)
# first difference of a and c >>> {9,4,7,5} - {4,8,1,'kk',5} = 9,7

{7, 9}

In [335]:
# difference using more than two sets

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j}
c.difference(b,a)
# first difference of c and a >>> {25,23,2+3j} - {9,4,1,7,2+3j,5} = 25,23

{23, 25}

In [348]:
# difference using more than two sets

a = {9,4,1,7,2+3j,5}
b = {4,8,1,'kk',5}
c = {25,23,1,2+3j,25}
c - b - a
# first difference of a and c >>> {25,23,2+3j} - {9,4,1,7,2+3j,5} = 25,23

{23, 25}