### Strings
- Collection of characters written inside single or double quotes for text in single line.
- Can be written in single, double or triple quotes. Use triple quotes to write text in multiple lines.

In [5]:
 # Double quotes
str1 = "Hello"
print(type(str1))
print(str1) #Calling the variable

<class 'str'>
He
llo

In [22]:
# Single quotes
str1 = 'Hello'
print(type(str1))
print(str1)

<class 'str'>
Hello

In [14]:
# Triple single quotes
str1 = '''Hello'''
print(type(str1))
print(str1)

<class 'str'>
Hello

In [26]:
# Triple single quotes in multiple lines
str1 = '''Hell
o'''
print(type(str1))
print(str1)

<class 'str'>
Hell
o

In [28]:
# Triple double quotes in single lines
str1 = """Hello"""
print(type(str1))
print(str1)

<class 'str'>
Hello

In [30]:
# Triple double quotes in multiple lines
str1 = """Hel
lo"""
print(type(str1))
print(str1)

<class 'str'>
Hel
lo

In [33]:
str1 = ''''Hello''''
print(type(str1))
print(str1)

SyntaxError: unterminated string literal (detected at line 1) (1325025059.py, line 1)

### String Indexing - access using [index_number]
- String indexing allows us to access individual characters in a string
- Indexes starts from 0 (Positive indexing) > From L to R
- Negative indexing starts from -1, from R to L
- Example
- H   e   l    l  o    P   y   t  h  o  n
- 0   1   2    3  4  5 6   7  8  9  10 11
- -12 -11 -10 -9 -8 -7 -6 -5 - 4 -3 -2 -1

H		 e		 l 		 l 		 o 	   space		P 		y 		t 		h 		o 		n
0 		 1 		 2 		 3 		 4 		5 		    6 		7 		8 		9 		10 		11
-12 	-11 	-10 	-9 		-8 		-7 		   -6		-5		-4		-3		-2		-1

In [2]:
s1="Hello Python"

# Print entire string
print(s1)
#or
print(s1[:])

Hello Python
Hello Python

In [4]:
# Print l
print(s1[2])

# Print e
print(s1[1])

# Print first characters H and P
print(s1[0])
print(s1[6])

# Print the last character n
print(s1[11])
#or
print(s1[-1])

l
e
H
P
n
n

### Length function
- To count the number of characters in a string
- len(string_Variable_name)

In [4]:
s1="Hello Python"
print(len(s1))

# Get Last character of any given string, irrespective of the length
print(s1[len(s1)-1])
# Or
print(s1[-1])

# Always get the last 3rd character from the given input string
print(s1[len(s1)-3])
# Or
print(s1[-3])

12
n
n
h
h

In [15]:
# Negative indexing
print(s1[-6], ' ', s1[-10])

P   l

### String slicing
- <b>Note:-</b> Python interpreter executes from left to right
- Syntax:-
- variable_name[start:stop:step]
- <b>start value</b> is <b>inclusive</b> i.e. starting position = given value, if value is not given, consider from starting position.
- <b>stop value</b> is <b>exclusive</b> i.e. stop position value-1, if value is not given, consider till end of string.
- <b>Note:- </b> If end value is given more than the length of the string, it prints till the end.
- <b>step value</b> is <b>increment</b> by value and also tells the <b>direction</b> of execution, +ve is forward direction and -ve is a backword direction. If step_value is +ve, end value = end value - 1 and if step_value is -ve, end value = end value + 1
- <b>Execution order</b>:-
- First take the slice, based on given start and stop positions and then take the direction to decide the output
- <b>All possible ways</b> to write the syntax are mentioned below
- variable_name[start:stop] >>> From start to stop value - 1
- variable_name[start:] >>> From start value till end, as end value is not mentioned
- variable_name[:stop]
- since start value is null, it take from the begining of string till stop value -1
- variable_name[start:stop:step]
- from start value, till stop value-1, with increment of step value
- if step value is positive, it takes from begining
- if step value is negative, it takes from end
- variable_name[::-1]
- since start and stop are null, it takes from start to end, but in reverse
- variable_name[:]
- since nothing is mentioned, from start value to the end, form L to R

In [7]:
s1="Hello Python"
print(s1[0:7])
# Execution in background 
# 0, 7-1, +ve = 0,6,1 >>> 0,1,2,3,4,5,6

Hello P

In [25]:
# End value greater than length of the string
s1="Hello Python"

print(s1[0:25])
# 0,25-1,+ve >>> 0 to 24...

print(s1[-1:-25:-1])
# -1, -25+1(since -ve increment, add one), -ve reverse >>> -1,-2,-3.... till -24

print(s1[-1:-6:-1])
# -1,-6+1 (since -ve increment),-ve >>> -1,to-5

print(s1[-1:6:-1])
# -1,6+1 (since -ve increment),-ve reverse >>> -1,to 7

Hello Python
nohtyP olleH
nohty
nohty

In [26]:
s1="Hello Python"
print(s1[0:])
# Execution in background
# 0,till end,+ve = 0,12-1,1

Hello Python

In [32]:
s1="Hello Python"
print(s1[6:])
# Execution in background
# 6,till end, +ve

print(s1[6:12])
# Execution in background
# 6,12-1, +ve = 6,11,+ve

Python
Python

In [38]:
s1="Hello Python"
print(s1[5:2]) #Executes from left to right
# 5,2-1,+ve = 5,1,+ve >>> Since end position is given as 2, but increment is +ve, it has to go from 5,6,7,8,9,10,11 than .... it cannot reset to 0, the vallue is NULL

In [46]:
# Negative indexing
s1="Hello Python"
print(s1[-6:])
# -6,till end, +ve = Since end position is not given, it is till end of any side, and step value is +ve, it goes from -6,-5,-4,-3,-2,-1

s1="Hello Python"
print(s1[-6:0])
# -6,0,+ve >>> Since end value is given as 0, it has to print till 0, but since increment is +ve, it cannot reset back to zero, hence NULL
# -6,-5,-4,-3,-2,-1,0

s1="Hello Python"
print(s1[-6:1])
# -6,0,+ve >>> Since end value is given as 0, it has to print till 0, but since increment is +ve, it cannot reset back to zero, hence NULL
# -6,-5,-4,-3,-2,-1,0

Python

In [129]:
l3=[2.3, 6, 'kk', 9, [3.3, 'akk', 5], [3], 99]
print(l3[:-4:])
# start till -4-1 >>> start till -5

l3=[2.3, 6, 'kk', 9, [3.3, 'akk', 5], [3], 99]
print(l3[:-4:-1])
# in reverse start, -4+1 = reverse start till -3

[2.3, 6, 'kk']
[99, [3], [3.3, 'akk', 5]]

In [44]:
# Negative indexing
s1="Hello Python"

print(s1[5:3])
# 5,3-1,+ve >>> since end value is 2, but start is 5,6,7... no reset, hence NULL

print(s1[-12:-7])
# -12, -7-1, +ve >>> -12,-11,-10,-9,-8

print(s1[-7:-12:-1])
# -7,-12+1,-ve >>> -7,-8,...,-11

Hello
 olle

In [48]:
# Step value
s1="Hello Python"
print(s1[1:10:2])
# 1,10-1,+2 increment by 2 >>> 1,9,+2 >>> 1,3,5,7,9

el yh

In [50]:
# -1 Reverse
s1="Hello Python"
print(s1[::-1])
# start any direction, till end any direction, -ve >>> Since -1 step hence backword direction >>> -1,-2,......-12

nohtyP olleH

In [52]:
# -1 Reverse
s1="Hello Python"
print(s1[-1:-12:-1])
# -1,-12+1, - ve >>> -1,-11,-ve >>> -1,-2,-3....-11 reverse order

print(s1[-1:-11:-1])
# -1,-11+1, -ve >>> -1,-10, -ve >>> -1,-2,-3....-10 reverse order

print(s1[-3:-11:-1])
# -3, -11+1,-ve >>> -3, -10, -ve >>> -3,-4,-5....-10 reverse order

nohtyP olle
nohtyP oll
htyP oll

In [54]:
s2="Hello Python"

print(s2[6:])
# 6,till end, +ve >>> 6,7.... 

print(s2[5:10])
# 5,10-1,+ve >>> 5,6,7,8,9

print(s2[:10])
# start, 10-1,+ve >>> Since positive start from L to R >>> 0,1,2,....9

print(s2[0:9:3])
# 0,9-1,+ve 3 >>> 0,8,3 >>> 0,3,6

print(s2[0:9:2])
# 0,9-1,2 >>> 0,2,4,6,8

Python
 Pyth
Hello Pyth
HlP
HloPt

#### Copying

In [56]:
# Copying
s1="Hello Python"
s2=s1[:]
print(s2)

s3=s1[::]
print(s3)

Hello Python
Hello Python

In [60]:
# Reverse
s2="Hello Python"

print(s2[-2])

print(s2[-2:])
print(""" -2,till end, +ve forward direction >>> -2,-1""")

o
on
 -2,till end, +ve forward direction >>> -2,-1

In [66]:
# Reverse
s2="Hello Python"

print(s2[-2:-1])
# -2,-1-1,+ve >>> -2,-2 same position, only one value

print(s2[-2:1])
# -2, 1-1,+ve >>> -2,0 >>> Cannot reset, blank

o

In [72]:
# Reverse
s2="Hello Python"

print(s2[::-1])
print(""" start, till end, -ve >>> backword direction""")

print(s2[:-12:-1])
print("""start, -12+1,-ve reverse >>> -1,....-11""")

print(s2[:-13:-1])
print(""" # start, -13+1,-ve backword >>> -1,.....-12""")

print(s2[-1:-13:-1])
print("""# -1,-13+1,-ve backword >>> -1,....,-12""")

nohtyP olleH
 start, till end, -ve >>> backword direction
nohtyP olle
start, -12+1,-ve reverse >>> -1,....-11
nohtyP olleH
 # start, -13+1,-ve backword >>> -1,.....-12
nohtyP olleH
# -1,-13+1,-ve backword >>> -1,....,-12

In [76]:
# Reverse
s2="Hello Python"

print(s2[::-2])
print("""# start, end, -ve backword >>> -1,-3,-5,-7,-9,-11,-13""")

print(s2[-2::-1])
print("""# -2, till end, -ve backword >>> -2, -3, -4,....,-12""")

print(s2[-3::-1])
print("""# -3, till end, -ve backword >>> -3, -4, ...-12""")

nhy le
# start, end, -ve backword >>> -1,-3,-5,-7,-9,-11,-13
ohtyP olleH
# -2, till end, -ve backword >>> -2, -3, -4,....,-12
htyP olleH
# -3, till end, -ve backword >>> -3, -4, ...-12

In [92]:
# Reverse
s2="Hello Python"

print(s2[-2])
# this is not slicing, only one value

print(s1[-6:1])
# -6, 1-1,+ve forward >>> -6,-5,...till 1, cannot reset NULL

print(s1[-6:0])
# -6,-5 till 0, cannot reset >>> null output

print(s1[-6:1])
# -6,-5 till 1, cannot reset >>> null output

print(s1[5:3])
# 5,6,7, till 3 cannot reset >>> null output

print(s1[-2:-7])
# -2,-1 till -8 cannot reset >>> null output

o

In [98]:
# Negative indexing starts from -1
s1[-10:-4]
# -10,-4-1,+Ve >>> -10,-9,.....-5

'llo Py'

In [100]:
# Negative indexing starts from -1
s1='Hello Python'

s1[-12:-10:-1]
# -12,-10+1,+Ve >>> -12,-13 till -9 >>> cant reset > null

''

In [102]:
s1[-10:-3]
# -10,-3-1,+ve >>> -10,-4,+ve >>> -10,-9,...-4

'llo Pyt'

In [106]:
s1[-12:]
# -12, till end, +ve >>> -12,-11,....-1

'Hello Python'

In [108]:
s1[-6:]
# -6, till end, +Ve >>> -6,-5,....,-1

'Python'

In [110]:
s1="Hello Python"
s1[:-7]
# start,-7-1,+ve >>> start to till -8

'Hello'

#### Start value also depends on end value when start value is null

In [112]:
s1[-12:-7:-1]
# -12,-7+1,-ve >>> -12,-13,.... till -6 cannot reset, null

''

In [114]:
s1[-12:-7:2]
# -12,-7-1,+Ve >>> -12,-10,-8...

'Hlo'

In [116]:
s1[::3]
# 0,3,6,9,12

'HlPh'

In [259]:
s2="Data is the new fuel"
#Positive and negative indexing

#### Update and Delete on Strings
- Strings are Immutable, but update or delete can only be done using the functions
- Update is done using <b>replace</b> function
- Delete is done using <b>del</b> function

In [36]:
str1[0]='a' # We can't use slicing method to update characters in a string 
str1[0:2]='ab'

TypeError: 'str' object does not support item assignment

In [28]:
str1="This is Python class"
str2=str1.replace('class','theater')
print(str1,'\n',str2)
str1=str1.replace('class','kk')
print(str1)
print(str1.replace('is','was'))

This is Python class
 This is Python theater
This is Python kk
Thwas was Python kk

In [52]:
# delete a string, string is not deleted, only made null
str1="This is Python class"
str1=str1.replace(str1,'')
print(str1)

In [50]:
# Or delete using del method
str1="This is Python class"
print(str1)
del str1
print(str1)

This is Python class

NameError: name 'str1' is not defined

#### String membership
- IN and NOT IN

In [294]:
mystr = "Hello Python"
'Hello' in mystr

True

In [298]:
mystr = "Hello Python"
'hello' in mystr

False

In [300]:
mystr = "Hello Python"
'Hello' not in mystr

False

In [304]:
mystr = "Hello Python"
'kk' not in mystr

True

#### String Concatenation
- Done using + operator

In [320]:
s1 = "data"
s2 = "science"
print(s1+s2)
print(s1+' '+s2)
print(s1+" "+s2)
print(s1+""" 
"""+s2)

datascience
data science
data science
data
science

In [50]:
'2'+'3'

'23'

In [55]:
s1='Kranthi'
s2='kranthi'
s3='Kranthi'
print(s1==s2)
print(s1==s3)

False
True

In [126]:
s1='Data is the new fuel'
# -1 Reverse
print(s1[-1:-12:-1])
print(s1[-1:-11:-1])
print(s1[-3:-11:-1])

leuf wen eh
leuf wen e
uf wen e

In [130]:
# Reverse
s2='Data is the new fuel'

print(s2[::-1])

print(s2[-2])

print(s2[:-12:-1])

print(s2[:-13:-1])

print(s2[-1:-13:-1])

print(s2[::-2])

print(s2[-2::-1])

print(s2[-3::-1])

print(s2[-2])

print(s1[-6:1])

print(s1[-6:1])

leuf wen eht si ataD
e
leuf wen eh
leuf wen eht
leuf wen eht
lu e h iaa
euf wen eht si ataD
uf wen eht si ataD
e

In [14]:
# Negative indexing
s1='Data is the new fuel'

print(s1[-6:0])

print(s1[-6:1])

print(s1[5:3])

print(s1[-12:-7])

print(s1[-7:-12:-1])

the n
en eh