#### Pandas Series
- Has one index/key and value
- Default indexing by pandas starts with 0,1,2,...
- We can convert list/tuple/series/dictionary to Pandas Series
- Example
- 0   kranthi
- 1   kumar
- 2   akk
- Syntax:-
- pandas.Series(List/Tuple/Set/Dict/Values,index=index_Variable)

#### Note
- The keys in dictionary gets converted to index in Series
- Note that the index is not 0, 1, 2, etc. Pandas Series has converted dictionary keys to indexes.
- Best way to create a Series is from dictionary

In [92]:
"""
                        chiru     akk     sachin      kk
Default key/index         0         1        2         3
Dictionarys key/indxe    key1      key2     key3      key4

We can give our own key/index
"""

'\n                        chiru     akk     sachin      kk\nDefault key/index         0         1        2         3\nDictionarys key/indxe    key1      key2     key3      key4\n\nWe can give our own key/index\n'

In [41]:
import pandas as pd

In [43]:
# Create a list of names 
namesL = ['akk','kk','sachin','chiru']
namesL

['akk', 'kk', 'sachin', 'chiru']

In [45]:
# List to Pandas Series
pdsL = pd.Series(namesL)
pdsL

0       akk
1        kk
2    sachin
3     chiru
dtype: object

In [108]:
# Directly create Series
namesS = pd.Series(['akk','kk','sachin','chiru'])
namesS

0       akk
1        kk
2    sachin
3     chiru
dtype: object

In [47]:
type(pdsL)

pandas.core.series.Series

In [129]:
# Directly create Series with our own keys
namesS = pd.Series(['akk','kk','sachin','chiru'],index=['a','k','s','c'])
namesS

a       akk
k        kk
s    sachin
c     chiru
dtype: object

In [62]:
# Create a Tuple of names
namesT = ('akk','kk','sachin','chiru')
namesT

('akk', 'kk', 'sachin', 'chiru')

In [64]:
# Tuple to Pandas Series
pdsT = pd.Series(namesT)
pdsT

0       akk
1        kk
2    sachin
3     chiru
dtype: object

In [110]:
# Directly create Series
namesS = pd.Series(('akk','kk','sachin','chiru'))
namesS

0       akk
1        kk
2    sachin
3     chiru
dtype: object

In [66]:
# Create a set of names
namesS = {'akk','kk','sachin','chiru'}
namesS

{'akk', 'chiru', 'kk', 'sachin'}

In [68]:
# Set to Pandas Series
pdsS = pd.Series(namesS)

# Error as data in set is sorted everytime and duplicates are removed. First convert set to list and then to pandas series

TypeError: 'set' type is unordered

In [70]:
# Set to Pandas Series

namesS = {'akk','kk','sachin','chiru'}

# Convert Set to List as Set cannot be converted to Series directly.
namesS2L = list(namesS)

pdsS2L = pd.Series(namesS2L)
pdsS2L

0     chiru
1       akk
2    sachin
3        kk
dtype: object

In [116]:
# Create Dictionary of names

namesD = {
    'name1':'chiru',
    'name2':'akk',
    'name3':'sachin',
    'name4':'kk'
}
print(namesD)

{'name1': 'chiru', 'name2': 'akk', 'name3': 'sachin', 'name4': 'kk'}

In [74]:
# Dictionary to Series
pd.Series(namesD)

name1     chiru
name2       akk
name3    sachin
name4        kk
dtype: object

In [114]:
# Directly create Series
namesS = pd.Series({'name1':'chiru','name2':'akk','name3':'sachin','name4':'kk'})
namesS

name1     chiru
name2       akk
name3    sachin
name4        kk
dtype: object

#### Changing the default index (0 1 2)

In [98]:
namesL = ['akk','kk','sachin','chiru','kranthi','kumar']
namesS = pd.Series(namesL)

marksL = [10,20,80,90,100,100]
marksS = pd.Series(marksL)

print(namesS)
print('\n')
print(marksS)

0        akk
1         kk
2     sachin
3      chiru
4    kranthi
5      kumar
dtype: object


0     10
1     20
2     80
3     90
4    100
5    100
dtype: int64

In [102]:
# Create marks Series with index as names instead of 0,1,...

marksS = pd.Series(marksL,index=namesS)
print(marksS)

akk         10
kk          20
sachin      80
chiru       90
kranthi    100
kumar      100
dtype: int64

In [124]:
# Give Series values directly while creating a series

namesS = pd.Series({'name1':'chiru','name2':'akk','name3':'sachin','name4':'kk'})

pd.Series([10,90,100,100],index=namesS)

chiru      10
akk        90
sachin    100
kk        100
dtype: int64