#### Dictionary
- Elements containing <b>key-value pair</b>. Data remains in the same order as we enter.
- Represented within {}
- <b>Syntax:</b> {key1:value1,key2:value2}
- <b>Indexed </b> i.e. We can access individual elements using <b>keys.
- <b>Can contain heterogenous</b> data, can have all types in both keys and values. <b>Note: </b> in case of True/1 or False/0 as key, there might be ambiguity, preference is given to boolean i.e. True/False. Example: if key is 1/True and while indexing if we give [1] or [True] >>> value is taken from boolean key
- Dictionary can contain lists, tuple, set, dictionary
- <b>Allows duplicate</b> values, but with different keys. i.e. dictionary can have duplicate elements in values, but not in keys.
- <b>Mutable</b> - values <b>can</b> be updated (added or removed) after it has been created. We can use indexing by using keys to update the values.
- Example: dict_var_name[key] = new_value

#### Functions on Dictionary
- Functions on dictionary >>> get, keys, values, update, pop, popitem, clear, del, len, in, not in, all, any
- Cannot be used >>> append, extend, insert, remove, count, index, sort, reverse

In [19]:
# Create empty dictionary 
d1={}

In [21]:
d1

{}

In [23]:
type(d1)

dict

In [54]:
# Simple key value dictionary 

d2={1:'one',2:'two',3:'three'}

In [27]:
d2

{1: 'one', 2: 'two', 3: 'three'}

In [79]:
# Create heterogenus dictionary with different combinations of keys and values

d3={1:'one',2:'two',-1:'negative',1.4:'float','six':200,2+3j:'complex',True:'booleanTrue',0:'Zero','complex':3+1j,'boolean':False,False:'Falseboolean'}

In [81]:
print(d3[1])
print(d3[-1])
print(d3[1.4])
print(d3['six'])
print(d3[2+3j])
print(d3[True])
print(d3['complex'])
print(d3['boolean'])
print(d3[False])

booleanTrue
negative
float
200
complex
booleanTrue
(3+1j)
False
Falseboolean

In [149]:
# Create heterogenus dictionary with lists, tuple, set, dictionary

d4={1:'one',2:'two','L':[9,1,0],'T':(3,2,0),'S':{3,2,99},'D':{99:'NineNine',1:'One'}}

In [105]:
print('Normal key value pair ', d4[2])
print('List key value pair ', d4['L'])
print('Tuple key value pair ', d4['T'])
print('Set key value pair ', d4['S'])
print('Dictionary key value pair ', d4['D'])

Normal key value pair  two
List key value pair  [9, 1, 0]
Tuple key value pair  (3, 2, 0)
Set key value pair  {3, 2, 99}
Dictionary key value pair  {99: 'NineNine', 1: 'One'}

In [109]:
d4['L'][1]

1

In [111]:
d4['T'][0]

3

In [113]:
d4['S']

{2, 3, 99}

In [115]:
# Error as we cannot access individual elements of a set

d4['S'][2]

TypeError: 'set' object is not subscriptable

In [153]:
# Create dictionary inside a list
# Access Hyderabad using nested indexing

d4=[0,1,2,3,[5,6,{'B':'Bangalore','H':'Hyderabad'}]]

In [155]:
print(d4)
print(d4[4])
print(d4[4][2])
print(d4[4][2]['H'])

[0, 1, 2, 3, [5, 6, {'B': 'Bangalore', 'H': 'Hyderabad'}]]
[5, 6, {'B': 'Bangalore', 'H': 'Hyderabad'}]
{'B': 'Bangalore', 'H': 'Hyderabad'}
Hyderabad

#### Dictionary functions
- Functions like append, extend, insert, remove, count, index, sort, reverse cannot be used on dictionary
- 
- get() - Returns the value given for a specific key, if the key is not present in dictionary, returns the default value given in second argument.
- Syntax1 - dictionary_var_name.get(key)
- Syntax2 - dictionary_var_name.get(key,default_value)
- .
- keys() - Returns all the keys of the dictionary
- Synatx - dictionary_var_name.keys()
- .
- values() - Returns all the values of the dictionary
- Syntax - dictionary_var_name.values()
- .
- update() - Used to add a new key value pair or update existing value in dictionary. We also add or update using indexing. We can update multiple key value pairs at once.
- Syntax - dictionary_var_name.update(key1:value1,key2:value2,....)
- Note: Using indexing, we can only add or update one key/value at a time, hence use update() function for adding/updating multiple elements.
- 
- pop() - removes specified key and returns its value. If the given key is not present, throws error.
- At least one key (argument) must be given, otherwise throws error.
- We can give multiple keys, but only the first key value pair is deleted.
- Synatx - dictionary_var_name.pop(key)
- 
- popitem() - removes and returns the most recently inserted key-value pair as a tuple. It operates on a Last-In-First-Out (LIFO) principle. 
-     If the dictionary is empty, calling popitem() raises a KeyError
- Synatx - dictionary_var_name.popitem()
- Note:- It doesn't take any arguments. i.e. dictionary_var_name.popitem('key') >>> Throws error.
- 
- clear() - To clear (delete all the elements) of the dictionary at one go. Does not accept any argument/value/index.
- Syntax - dictionary_var_name.clear()
- .
- del() - To delete the dictionary variable. Once deleted, the dictionary variable cannot be accessed again.
- Syntax - del dictionary_var_name
- 
- len() - To count the total number of key/values in the dictionary.
- Syntax - len(dictionary_var_name)
- 
- Membership >>> IN and NOT IN >>> We can check only if for keys. i.e. key is present or not in the dictionary, cannot check for values.
- Syntax - key in dictionary_var_name
- 
- all and any are not throwing error, but always returning True
- all() - returns True if all the elements of the dictionary are ture (non zero)
- Syntax - all(dictionary_var_name)
- 
- any() - returns True if any of the elements in the dictionary are true (non zero)
- Syntax - any(list_variable_name)

In [356]:
# Functions like append, extend, insert, remove, count, index, sort, reverse cannot be used on dictionary

car = {"brand": "Ford", "model": "Mustang", "year": 1964}
car.remove('test')

AttributeError: 'dict' object has no attribute 'remove'

In [306]:
# len() function 
# Calculate total key/value pairs in the below dictionary 

car = {"brand": "Ford", "model": "Mustang", "year": 1964}
len(car)

3

In [338]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
"model" in car

True

In [340]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
"simple" in car

False

In [342]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
"Ford" in car

False

In [346]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
1964 in car

False

In [348]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
"year" not in car

False

In [350]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
"year" in car

True

In [334]:
# all and any functions.

car1 = {"brand": "Ford", "model": "Mustang", "year": 1964,"dt":0}
print(all(car))
print(any(car))

car2 = {}
print(all(car))
print(any(car))

True
True
True
True

In [312]:
# get() function in dictionary, with default return value in case of no matching key

car = {"brand": "Ford", "model": "Mustang", "year": 1964}
x = car.get("model")
print(x)
print(car.get("year"))

# since price key is not present, it returns None
print(car.get("price"))

# Since price key is not present and since we gave default value as 10000, it returns default value
print(car.get("price",10000))

Mustang
1964
None
10000

In [173]:
d5={'name':'riya','id':12345,'dob':1998,'address':'hyderabad'}

In [175]:
print(d5)
print(d5['name'])

{'name': 'riya', 'id': 12345, 'dob': 1998, 'address': 'hyderabad'}
riya

In [200]:
# Update value from riya to raju, we can use indexing or we can also use update() function

d5['name']='raju'
print(d5)

{'name': 'raju', 'id': 12345, 'dob': 1998, 'address': 'hyderabad', 'gender': 'female', 'favcolor': 'green'}

In [202]:
# Update value of address to raju
# duplicate raju value in the dictionary, allowed

d5['address']='raju'
print(d5)

{'name': 'raju', 'id': 12345, 'dob': 1998, 'address': 'raju', 'gender': 'female', 'favcolor': 'green'}

In [218]:
# We can add a new key value pair using indexing, no need to use update() function
d5['country']='India'
d5

{'name': 'raju',
 'id': 12345,
 'dob': 1992,
 'address': 'hyderabad',
 'gender': 'female',
 'favcolor': 'green',
 'country': 'India'}

In [204]:
d5.keys()

dict_keys(['name', 'id', 'dob', 'address', 'gender', 'favcolor'])

In [206]:
d5.values()

dict_values(['raju', 12345, 1998, 'raju', 'female', 'green'])

In [208]:
# Update() function is used to add new key value pair in dictionary 
# It can also be used to update existing key value pair to new value
# We can add/update multiple key value pair at once.

d5={'name':'riya','id':12345,'dob':1998,'address':'hyderabad'}
print(d5)
d5.update({'gender':'female','name':'raju','favcolor':'green'})
print(d5)

{'name': 'riya', 'id': 12345, 'dob': 1998, 'address': 'hyderabad'}
{'name': 'raju', 'id': 12345, 'dob': 1998, 'address': 'hyderabad', 'gender': 'female', 'favcolor': 'green'}

In [210]:
d5

{'name': 'raju',
 'id': 12345,
 'dob': 1998,
 'address': 'hyderabad',
 'gender': 'female',
 'favcolor': 'green'}

In [212]:
d5.update({'dob':1992})

In [214]:
d5

{'name': 'raju',
 'id': 12345,
 'dob': 1992,
 'address': 'hyderabad',
 'gender': 'female',
 'favcolor': 'green'}

In [33]:
d5['job']='analyst'

In [222]:
d5

{'name': 'raju',
 'id': 12345,
 'dob': 1992,
 'address': 'hyderabad',
 'gender': 'female',
 'favcolor': 'green'}

In [224]:
# popitem() function - removes the last element from the dictionary

d5.popitem()

('favcolor', 'green')

In [228]:
# pop() function - doesn't take any arguments.

d5.popitem('dob')

TypeError: dict.popitem() takes no arguments (1 given)

In [240]:
d5 = {'name': 'raju',
 'id': 12345,
 'dob': 1992,
 'address': 'hyderabad',
 'gender': 'female'}

In [242]:
# pop() function 

d5.pop('dob')

1992

In [244]:
d5.pop('dob')

KeyError: 'dob'

In [246]:
d5.pop()

TypeError: pop expected at least 1 argument, got 0

In [256]:
d5 = {'name': 'raju',
 'id': 12345,
 'dob': 1992,
 'address': 'hyderabad',
 'gender': 'female'}
d5

{'name': 'raju',
 'id': 12345,
 'dob': 1992,
 'address': 'hyderabad',
 'gender': 'female'}

In [258]:
d5.pop('name','gender')

'raju'

In [260]:
d5

{'id': 12345, 'dob': 1992, 'address': 'hyderabad', 'gender': 'female'}

In [262]:
d5.clear()

In [264]:
d5

{}

In [274]:
d6={'name':'riya','id':12345,'dob':1998,'address':'hyderabad'}

In [276]:
d6

{'name': 'riya', 'id': 12345, 'dob': 1998, 'address': 'hyderabad'}

In [278]:
del d6

In [280]:
d6

NameError: name 'd6' is not defined

In [367]:
# Nested dictionary
d2={0:{'name':'naresh','dob':1995,'job':'ai'},1:{'name':'riya','dob':1997,'job':'ds'},3:{'name':'priya','dob':1998,'job':'da'}}

In [369]:
d2

{0: {'name': 'naresh', 'dob': 1995, 'job': 'ai'},
 1: {'name': 'riya', 'dob': 1997, 'job': 'ds'},
 3: {'name': 'priya', 'dob': 1998, 'job': 'da'}}

In [371]:
d2[1]['dob']

1997