### Tuple
- Sequence of elements, <b> not sorted by default</b>. Data remains in the same order as we enter, we need to use sorted function.
- Represented within ()
- <b>Immutable</b>, elements <b>cannot</b> be changed(add or remove) once tuple is created.
- <b>Indexed </b> i.e. We can access individual elements using <b>indexes, starts from 0</b>. 
- <b>Can contain heterogenous</b> data
- Can contain list, tuple, set, dictionary
- <b>Allows duplicate</b> values
- <b> Exactly same as Lists </b> >>> Only difference is <b>list is mutable, tuple is immutable</b>

#### Functions on Tuple
##### Except del, count, len, index, all, any, in, not in, sorted(use sorted instead of sort) 
<b>all the other functions cannot be used on the tuple as it is immutable</b>

(Functions not on Tuple - append, extend, insert, pop, remove, clear, del, len, count, index, all, any, in, not in, sort, reverse)

In [2]:
# Create an empty tuple
tuple = ()
tuple

()

#### Immutabale

In [3]:
tuple1 = (1,9,2,-1,True,'kk')
print(tuple1)
tuple1[2]=3
print(tuple1)

(1, 9, 2, -1, True, 'kk')

TypeError: 'tuple' object does not support item assignment

In [3]:
# Create heterogenus tuple
tuple1 = (8, 4, 3.5, 2, 5, 4, 'tt', (2+3j), [2,4],(9,11),{'A':1})

In [5]:
tuple1

(8, 4, 3.5, 2, 5, 4, 'tt', (2+3j), [2, 4], (9, 11), {'A': 1})

In [5]:
# Create heterogenus tuple
tuple1 = (8, 4, 3.5, 2, 5, 4, 'tt', (2+3j), 9)

In [10]:
tuple1

(8, 4, 3.5, 2, 5, 4, 'tt', (2+3j), 9)

In [12]:
type(tuple1)

tuple

In [14]:
tuple1[-1]

9

In [27]:
print(tuple1[-1],tuple1[0])

9 8

In [16]:
t1 = [2.5,9.2]
print(t1)

[2.5, 9.2]

In [34]:
# Duplicate values in the tuple and tuple within the tuple
tuple1 = (8, 4, 3.5, 2, 5, 4, 'tt', 2+3j, 9,(2,5,1),8)

In [38]:
tuple1[-4]

(2+3j)

In [50]:
# Duplicate values and nested tuple with list
tuple1 = (8, 4, 3.5, 2,[2.5,'kk'], 5, 4, 'tt', (2+3j), 9,(2,5,1),8)

In [52]:
tuple1[-4]

(2+3j)

In [54]:
tuple1[4]

[2.5, 'kk']

In [56]:
type(tuple1[4])

list

In [58]:
tuple1[-2]

(2, 5, 1)

In [60]:
type(tuple1[-2])

tuple

In [40]:
# Immutable - we cannot update values in tuple
# update value 8 in last to 90
tuple1[-1]=90

TypeError: 'tuple' object does not support item assignment

In [44]:
# immutable 
t1=(2,5)
t2=(99,2.5)
t1.append(t2)

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
# Tuple indexing and slicing
t1 = (1,2,3,[4,5,6],(7,8,9))
print(t1[3])
print(type(t1[3]))

[4, 5, 6]
<class 'list'>

In [68]:
print(t1[-1])
print(type(t1[-1]))

(7, 8, 9)
<class 'tuple'>

In [70]:
# Retrieve value 5 from the list
t1[3][1]

5

In [72]:
# Retrieve value 7 from the tuple using negative indexing
t1[-1][-3]

7

In [74]:
# Slicing
t1[0:4]

(1, 2, 3, [4, 5, 6])

In [76]:
t1[0:4:2]

(1, 3)

In [82]:
t1 = (1,2,3,[4,5,6],(7,8,9))
t1[0:-3]

(1, 2)

In [90]:
t1 = (1,2,3,[4,5,6],(7,8,9))
t1[0:-4]

(1,)

In [92]:
t1 = (1,2,3,[4,5,6],(7,8,9))
t1[-1:-4]
# -1 to -4-1 >>> -1 till -5 with +ve increment >>> -1,0 till -5 cant reset

()

In [96]:
t1 = (1,2,3,[4,5,6],(7,8,9))
t1[-5:-3]
# -5 till -3-1 >>> -5 till -4

(1, 2)

#### membership

In [99]:
t1 = (1,'kk',True,2+3j,99)

In [101]:
'kk' not in t1

False

In [103]:
2+3j in t1

True

In [105]:
99 in t1

True

In [121]:
# Create a list of 5 integers and add 3 integers to the list, remove the last element
l1 = [1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [123]:
l1.extend([9,11,12])
l1

[1, 2, 3, 4, 5, 9, 11, 12]

In [127]:
l1.pop()

12

In [34]:
t1 = (1,2,4,1,5,True)
t1.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
t1 = (1,2,4,1,5,True)
t1.extend(9)

AttributeError: 'tuple' object has no attribute 'extend'

In [38]:
t1 = (1,2,4,1,5,True)
t1.insert(1,9)

AttributeError: 'tuple' object has no attribute 'insert'

In [40]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [42]:
t1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [44]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [50]:
t1 = (1,2,4,1,5,True)
del t1

In [53]:
t1

NameError: name 't1' is not defined

t1

In [62]:
t1 = (1,2,3,4,5,1,'kk','kumar','kk')
t1.count(1)

2

In [64]:
len(t1)

9

In [66]:
t1.count(2)

1

In [70]:
t1.count('kk')

2

In [72]:
t1.index('kk')

6

In [91]:
t1 = (1,2,3,4,5,1,'kk','kumar','kk',False)

print(all(t1))
print(any(t1))

False
True

### sorted function

In [96]:
t1 = (4,2.5,9,-1,0)
sorted(t1)

[-1, 0, 2.5, 4, 9]

In [98]:
sorted(t1,reverse=True)

[9, 4, 2.5, 0, -1]

In [100]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [102]:
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'