#### Various functions on pandas objects
- To find if a value is null or not
- Syntax:-
- Series_obj_name.isnull()
- .
- To filter only null values
- Syntax:-
- Series_obj_name[Series_obj_name.isnull()]
- .
- To get the total number of values in a Series
- len(Series_obj_name)
- or
- Series_obj_name.count()
- .
- To get the sum of all the values in a Series
- Series_obj_name.sum()
- .
- To replace null values with user given value
- Syntax:-
- Series_obj_name.fillna()
- .
- To check for null value of an individual element of a pandas Series
- for i in Series_obj_name:
- np.isnan(i) >>> Returns True or False
- .
- To update a specific value in a pandas Series
- Syntax:-
- Series_obj_name[index] = new_value

In [63]:
import pandas as pd 
import numpy as np
numS = pd.Series([1,2,3,4,np.nan,5,6,7,893,34,22,2,9,np.nan,100])
numS

0       1.0
1       2.0
2       3.0
3       4.0
4       NaN
5       5.0
6       6.0
7       7.0
8     893.0
9      34.0
10     22.0
11      2.0
12      9.0
13      NaN
14    100.0
dtype: float64

In [65]:
# To find if a value in Series is null or not

numS.isnull()

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
dtype: bool

In [67]:
# To filter only null values

numS[numS.isnull()]

4    NaN
13   NaN
dtype: float64

In [69]:
# To get total number of values in a Series

len(numS)

15

In [71]:
# To get total number of null values in a Series

len(numS[numS.isnull()])

2

In [73]:
numS.sum()

1088.0

In [75]:
numS.count()

13

In [77]:
numS.isnull().sum()

2

In [79]:
numS.isnull().count()

15

##### fillna()
- Used to replace null values with the given value

In [105]:
# Fill 999 whenever there is a null value

numS = pd.Series([1,2,np.nan,9,np.nan,10])

print("Number series is \n",numS)
print('\n')
numS999 = numS.fillna(999)
print("Number series after replacing nulls with 999 is \n", numS999)

Number series is
 0     1.0
1     2.0
2     NaN
3     9.0
4     NaN
5    10.0
dtype: float64


Number series after replacing nulls with 999 is
 0      1.0
1      2.0
2    999.0
3      9.0
4    999.0
5     10.0
dtype: float64

In [125]:
# Replace null values with the mean value of the series

numS = pd.Series([1,2,np.nan,9,np.nan,10,11,2])

print("Number series is \n",numS)
print('\n')
numS999 = numS.fillna(numS.mean())
print("Mean of numS is ",numS.mean())
print("Number series after replacing nulls with mean value of the series is \n", numS999)

Number series is
 0     1.0
1     2.0
2     NaN
3     9.0
4     NaN
5    10.0
6    11.0
7     2.0
dtype: float64


Mean of numS is  5.833333333333333
Number series after replacing nulls with mean value of the series is
 0     1.000000
1     2.000000
2     5.833333
3     9.000000
4     5.833333
5    10.000000
6    11.000000
7     2.000000
dtype: float64

In [127]:
# Replace null values with the median value of the series

numS = pd.Series([1,2,np.nan,9,np.nan,10,11,2])

print("Number series is \n",numS)
print('\n')
numS999 = numS.fillna(numS.median())
print("Median of numS is ",numS.median())
print("Number series after replacing nulls with median value of the series is \n", numS999)

Number series is
 0     1.0
1     2.0
2     NaN
3     9.0
4     NaN
5    10.0
6    11.0
7     2.0
dtype: float64


Median of numS is  5.5
Number series after replacing nulls with median value of the series is
 0     1.0
1     2.0
2     5.5
3     9.0
4     5.5
5    10.0
6    11.0
7     2.0
dtype: float64

In [129]:
numS.mode()

0    2.0
dtype: float64

In [135]:
numS.mode()[0]

2.0

In [133]:
# Replace null values with the mode value of the series

numS = pd.Series([1,2,np.nan,9,np.nan,10,11,2])

print("Number series is \n",numS)
print('\n')
numS999 = numS.fillna(numS.mode()[0])
print("Median of numS is ",numS.mode()[0])
print("Number series after replacing nulls with median value of the series is \n", numS999)

Number series is
 0     1.0
1     2.0
2     NaN
3     9.0
4     NaN
5    10.0
6    11.0
7     2.0
dtype: float64


Median of numS is  2.0
Number series after replacing nulls with median value of the series is
 0     1.0
1     2.0
2     2.0
3     9.0
4     2.0
5    10.0
6    11.0
7     2.0
dtype: float64

#### Update a value in Pandas Series

In [47]:
# Update value at 2nd position with 999 in the below number Series

numS = pd.Series([1,2,np.NaN,9,np.NaN,10,11,2])

print("Before update \n",numS)

numS[1] = 999

print("\nAfter update \n",numS)

Before update
 0     1.0
1     2.0
2     NaN
3     9.0
4     NaN
5    10.0
6    11.0
7     2.0
dtype: float64

After update
 0      1.0
1    999.0
2      NaN
3      9.0
4      NaN
5     10.0
6     11.0
7      2.0
dtype: float64

In [45]:
# Check for null values manually in Pandas Series
# Then replace those null values with 99

import pandas as pd
import numpy as np

numS = pd.Series([1,2,np.NaN,9,np.NaN,10,11,2])

print("Number Series before null replacement is \n",numS)

j = 0
for i in numS:
    if np.isnan(i):
        numS[j] = 99
    j += 1

print("\n Number Series after null replacement with 99 is \n",numS)

Number Series before null replacement is
 0     1.0
1     2.0
2     NaN
3     9.0
4     NaN
5    10.0
6    11.0
7     2.0
dtype: float64

 Number Series after null replacement with 99 is
 0     1.0
1     2.0
2    99.0
3     9.0
4    99.0
5    10.0
6    11.0
7     2.0
dtype: float64